{% extends 'base.html.twig' %}

{% block title %}Supprimer le propriétaire{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Etes-vous sûr de vouloir supprimer le propriétaire ?<i>{{ proprietaire.Nom }}</i></h1>
        {{ form(formulaire) }}
        <a href="{{ path("app_proprietaires") }}" class="btn btn-warning">Annuler</a>
    </div>

{% endblock %}